DATABASE_URL="postgresql://postgres:postgres@localhost:5432/barbershop?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

MERCADO_PAGO_PUBLIC_KEY=""
MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Barberia <turnos@barberia.local>"

NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL="https://www.google.com/maps?q=Buenos%20Aires&output=embed"
